In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adcb_uae_sub.csv', dtype=object)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 36 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   A_C_no                           18 non-null     object
 1   Bucket_1_amount                  10 non-null     object
 2   Bucket_2_amount                  10 non-null     object
 3   Bucket_3_amount                  10 non-null     object
 4   Bucket_4_amount                  10 non-null     object
 5   Bucket_5_amount                  10 non-null     object
 6   Bucket_6_amount                  10 non-null     object
 7   Bucket_greater_6_amount          10 non-null     object
 8   Card_type                        10 non-null     object
 9   Credit_Shield_Flag_or_Uniq_acno  10 non-null     object
 10  Credit_card_limit                10 non-null     object
 11  Current_Balance                  3 non-null      object
 12  Current_Bucket_amount            10 non-null     object
 13  Days_Past_Due                    8 non-null      object
 14  Days_past_due                    10 non-null     object
 15  Expiry_flag                      3 non-null      object
 16  Interest_Amount                  3 non-null      object
 17  Interest_In_Suspense             3 non-null      object
 18  Interest_Profit_OS               15 non-null     object
 19  Issue_date                       0 non-null      object
 20  Last_payment_amount              10 non-null     object
 21  Last_payment_date                9 non-null      object
 22  Last_statement_date              10 non-null     object
 23  MinimumPayment_Amount            10 non-null     object
 24  Next_due_date                    0 non-null      object
 25  OD_Limit_End_Date                3 non-null      object
 26  OD_Limit_Set_Date                3 non-null      object
 27  Outstanding                      15 non-null     object
 28  PROD                             3 non-null      object
 29  Principal_OS                     15 non-null     object
 30  Product_Code                     8 non-null      object
 31  Total_Due                        3 non-null      object
 32  Total_Overdue_amount             9 non-null      object
 33  Utilisation                      3 non-null      object
 34  cid_no                           20 non-null     object
 35  scrape_date                      20 non-null     object
dtypes: object(36)
memory usage: 5.8+ KB

In [6]:
df['Total_Overdue_amount'].to_dict()

{0: nan,
 1: '96,915.54',
 2: nan,
 3: nan,
 4: nan,
 5: '14,934.38',
 6: nan,
 7: '11,246.92',
 8: '49,415.64',
 9: '19,595.68',
 10: nan,
 11: '69,709.87',
 12: nan,
 13: '33,641.68',
 14: nan,
 15: '29,953.69',
 16: '22,825.29',
 17: nan,
 18: nan,
 19: nan}